In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3

In [2]:
df_course = pd.read_csv('UCRCourses2021-2024.csv')
df_course

,course_id,level,latest_offering,college_desc,department_desc,title_long_desc,course_text_narrative,n_unique,n_department,row_number
0,AHS 007,Undergraduate,202340,"Humanities, Arts, and Soc Sci",Art History,"WORLD ART: IMAGES, ISSUES, AND IDEAS","4 Units, Lecture, 3 hours; discussion, 1 hour;...",1,1,1
1,AHS 008,Undergraduate,202340,"Humanities, Arts, and Soc Sci",Art History,MODERN WESTERN VISUAL CULTURE,"4 Units, Lecture, 3 hours; discussion, 1 hour;...",1,1,2
2,AHS 010S,Undergraduate,202310,"Humanities, Arts, and Soc Sci",Art History,TOPICS IN ART AND ARCHITECTURAL HISTORY,"5 Units, Lecture, 3 hours; discussion, 1 hour;...",1,1,3
3,AHS 013,Undergraduate,202420,"Humanities, Arts, and Soc Sci",Art History,ARTS AND ARCHITECTURE OF THE ISLAMIC WORLD,"4 Units, Lecture, 3 hours; discussion, 1 hour;...",1,1,4
4,AHS 015,Undergraduate,202420,"Humanities, Arts, and Soc Sci",Art History,ARTS OF ASIA,"4 Units, Lecture, 3 hours; discussion, 1 hour;...",1,1,5
...,...,...,...,...,...,...,...,...,...,...
4251,TFDP 198I,Undergraduate,202420,"Humanities, Arts, and Soc Sci","Theatre, Film,& Digital Prodtn",INDIVIDUAL INTERNSHIP IN THEATRE,"1 to 12 Units, Internship, 3 to 36 hours, read...",1,1,4252
4252,VNM 001,Undergraduate,202340,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture. 4 hours. Prerequisite(s): st...",1,1,4253
4253,VNM 002,Undergraduate,202410,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN...",1,1,4254
4254,VNM 003,Undergraduate,202420,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN...",1,1,4255
4255,VNM 004,Undergraduate,202340,"Humanities, Arts, and Soc Sci",Literatures & Languages,INTERMEDIATE VIETNAMESE,"4 Units, Lecture, 4 hours, Prerequisite(s): VN...",1,1,4256

In [3]:
df_course.index
df_course.columns

Index(['course_id', 'level', 'latest_offering', 'college_desc',
       'department_desc', 'title_long_desc', 'course_text_narrative',
       'n_unique', 'n_department', 'row_number'],
      dtype='object')

In [4]:
df_course.dtypes

course_id                object
level                    object
latest_offering           int64
college_desc             object
department_desc          object
title_long_desc          object
course_text_narrative    object
n_unique                  int64
n_department              int64
row_number                int64
dtype: object

In [5]:
df_course.describe()

       latest_offering     n_unique  n_department   row_number
count      4256.000000  4256.000000        4256.0  4256.000000
mean     202366.968985     0.903900           1.0  2128.500000
std          71.589474     0.294762           0.0  1228.745702
min      202140.000000     0.000000           1.0     1.000000
25%      202340.000000     1.000000           1.0  1064.750000
50%      202410.000000     1.000000           1.0  2128.500000
75%      202420.000000     1.000000           1.0  3192.250000
max      202420.000000     1.000000           1.0  4256.000000

In [6]:
df_course.loc[1,'course_text_narrative']

'4 Units, Lecture, 3 hours; discussion, 1 hour; extra reading, 2 hours. Prerequisite(s): none.  Focuses on broadly defined cultural practices in relation to painting, photography, video, architecture, and film.  Introduces historical, aesthetic, and theoretical issues in twentieth-century visual culture, emphasizing political and social themes relevant to contemporary life.'

In [7]:
df_new = df_course
df_new = df_new.drop(['latest_offering', 'n_unique', 'n_department', 'row_number'], axis=1)
df_new

,course_id,level,college_desc,department_desc,title_long_desc,course_text_narrative
0,AHS 007,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,"WORLD ART: IMAGES, ISSUES, AND IDEAS","4 Units, Lecture, 3 hours; discussion, 1 hour;..."
1,AHS 008,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,MODERN WESTERN VISUAL CULTURE,"4 Units, Lecture, 3 hours; discussion, 1 hour;..."
2,AHS 010S,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,TOPICS IN ART AND ARCHITECTURAL HISTORY,"5 Units, Lecture, 3 hours; discussion, 1 hour;..."
3,AHS 013,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,ARTS AND ARCHITECTURE OF THE ISLAMIC WORLD,"4 Units, Lecture, 3 hours; discussion, 1 hour;..."
4,AHS 015,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,ARTS OF ASIA,"4 Units, Lecture, 3 hours; discussion, 1 hour;..."
...,...,...,...,...,...,...
4251,TFDP 198I,Undergraduate,"Humanities, Arts, and Soc Sci","Theatre, Film,& Digital Prodtn",INDIVIDUAL INTERNSHIP IN THEATRE,"1 to 12 Units, Internship, 3 to 36 hours, read..."
4252,VNM 001,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture. 4 hours. Prerequisite(s): st..."
4253,VNM 002,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN..."
4254,VNM 003,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN..."
4255,VNM 004,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,INTERMEDIATE VIETNAMESE,"4 Units, Lecture, 4 hours, Prerequisite(s): VN..."

In [8]:
# drop duplicates based on course id
# prepares data for sqlite database primary key selection
df_new = df_new.drop_duplicates(subset=['course_id'])
df_new

,course_id,level,college_desc,department_desc,title_long_desc,course_text_narrative
0,AHS 007,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,"WORLD ART: IMAGES, ISSUES, AND IDEAS","4 Units, Lecture, 3 hours; discussion, 1 hour;..."
1,AHS 008,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,MODERN WESTERN VISUAL CULTURE,"4 Units, Lecture, 3 hours; discussion, 1 hour;..."
2,AHS 010S,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,TOPICS IN ART AND ARCHITECTURAL HISTORY,"5 Units, Lecture, 3 hours; discussion, 1 hour;..."
3,AHS 013,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,ARTS AND ARCHITECTURE OF THE ISLAMIC WORLD,"4 Units, Lecture, 3 hours; discussion, 1 hour;..."
4,AHS 015,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,ARTS OF ASIA,"4 Units, Lecture, 3 hours; discussion, 1 hour;..."
...,...,...,...,...,...,...
4251,TFDP 198I,Undergraduate,"Humanities, Arts, and Soc Sci","Theatre, Film,& Digital Prodtn",INDIVIDUAL INTERNSHIP IN THEATRE,"1 to 12 Units, Internship, 3 to 36 hours, read..."
4252,VNM 001,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture. 4 hours. Prerequisite(s): st..."
4253,VNM 002,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN..."
4254,VNM 003,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN..."
4255,VNM 004,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,INTERMEDIATE VIETNAMESE,"4 Units, Lecture, 4 hours, Prerequisite(s): VN..."

In [9]:
df_new.insert(6, 'sgd', '')
df_new

,course_id,level,college_desc,department_desc,title_long_desc,course_text_narrative,sgd
0,AHS 007,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,"WORLD ART: IMAGES, ISSUES, AND IDEAS","4 Units, Lecture, 3 hours; discussion, 1 hour;...",
1,AHS 008,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,MODERN WESTERN VISUAL CULTURE,"4 Units, Lecture, 3 hours; discussion, 1 hour;...",
2,AHS 010S,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,TOPICS IN ART AND ARCHITECTURAL HISTORY,"5 Units, Lecture, 3 hours; discussion, 1 hour;...",
3,AHS 013,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,ARTS AND ARCHITECTURE OF THE ISLAMIC WORLD,"4 Units, Lecture, 3 hours; discussion, 1 hour;...",
4,AHS 015,Undergraduate,"Humanities, Arts, and Soc Sci",Art History,ARTS OF ASIA,"4 Units, Lecture, 3 hours; discussion, 1 hour;...",
...,...,...,...,...,...,...,...
4251,TFDP 198I,Undergraduate,"Humanities, Arts, and Soc Sci","Theatre, Film,& Digital Prodtn",INDIVIDUAL INTERNSHIP IN THEATRE,"1 to 12 Units, Internship, 3 to 36 hours, read...",
4252,VNM 001,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture. 4 hours. Prerequisite(s): st...",
4253,VNM 002,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN...",
4254,VNM 003,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,ELEMENTARY VIETNAMESE,"4 Units, Lecture, 4 hours. Prerequisite(s): VN...",
4255,VNM 004,Undergraduate,"Humanities, Arts, and Soc Sci",Literatures & Languages,INTERMEDIATE VIETNAMESE,"4 Units, Lecture, 4 hours, Prerequisite(s): VN...",

In [10]:
df_new.index
df_new.columns

Index(['course_id', 'level', 'college_desc', 'department_desc',
       'title_long_desc', 'course_text_narrative', 'sgd'],
      dtype='object')

In [11]:
df_new.dtypes

course_id                object
level                    object
college_desc             object
department_desc          object
title_long_desc          object
course_text_narrative    object
sgd                      object
dtype: object

In [12]:
df_new.to_csv('course.csv', index=False)

In [13]:
# just to test a sqlite3 connection and to DB Browser for sqlite DONT RUN
# connection = sqlite3.connect('testdb.db')
# df_new.to_sql('course',connection, if_exists='replace')
# connection.close()

In [23]:
# memory in btyes for dataframe
df_new.memory_usage()

Index                    30776
course_id                30776
level                    30776
college_desc             30776
department_desc          30776
title_long_desc          30776
course_text_narrative    30776
sgd                      30776
dtype: int64

30776
30776
30776
30776
30776
30776
30776
30776